
body{   height: 100%;
	background-color: #333333} 
p { color: black; 
	font: helvetica} 
p.padding
{
padding-top:25px;
padding-bottom:25px;
padding-right:50px;
padding-left:50px;
}
#help {
	color: orange;
}
head.padding{
padding-top:25px;
padding-bottom:25px;
padding-right:50px;
padding-left:50px;
}
.tiny{
font-size:50%;
}
.little{
font-size:80%;
}
.home{
    color: orange;
	font-size:250%;

}
.pumpkin{
	link {text-decoration: none; color: red;}
	visited {text-decoration: none; color: red;}
	active {text-decoration: none}
	hover {text-decoration: none; color: black;}
}

.input {
    border: 1px solid #006;
    background: #ffc;
}
.input:hover {
    border: 1px solid #f00;
    background: #ff6;
}
.button {
    border: 1px solid #006;
    background: #ccf;
}
.button:hover {
    border: 1px solid #f00;
    background: #eef;
}

}
br { clear: left; }
A:link {text-decoration: none; color: black;}
A:visited {text-decoration: none; color: black;}
A:active {text-decoration: none}
A:hover {text-decoration: none; color: orange;}
h1{ color: white; }
h1.padding
{
padding-top:25px;
padding-bottom:25px;
padding-right:50px;
padding-left:50px;
}
html{
	height: 100%;
    }
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
    }
.footer, .push {
	height: 4em;
	text-align: center;
    }

